body {
        background: url(https://ediz.goldeli.com/images/bg2.jpg);
        background-attachment: fixed;
        background-position: center top;
        background-size: 574px 757px;
}

#logo-box {
        margin-top: 124px;
        margin-left: auto;
        margin-right: auto;
        width: 210px;
        height: 87px;
        background: #F5F5FA;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
        border-radius: 20px;
}

#bg-box1 {
        margin-top: 115px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1px;
        width: 326px;
        height: 362px;
        background: #F5F5FA;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
        backdrop-filter: blur(20px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 20px;
}

#input-box1 {
        margin-top: 49px;
        width: 300px;
        height: 50px;
        padding-left: 11px;
        background-color: #C4C4C4;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
        border: none;
        border-radius: 15px;
        font-size: 23px;
        background-position: 10px 10px;
}

#input-box2 {
        margin-top: 20px;
        width: 300px;
        height: 50px;
        padding-left: 11px;
        background-color: #C4C4C4;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
        border: none;
        border-radius: 15px;
        font-size: 23px;
        background-position: 10px 10px;
}

input[type=submit] {
        -webkit-appearance: none;
        width: 177px;
        height: 71px;
        left: 99px;
        margin-top: 62px;
        background: #619330;
        /* Shadow 3 */
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
        border: none;
        border-radius: 15px;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
}

input[type=submit]:hover {
        background: #558624;
}

h2 {
        text-align: center;
        padding-top: 21px;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
}

a {

        color: black;
        text-decoration: none;
}

a:visited {
        color: black;
        text-decoration: none;
}

#link1 {
        margin-left: 179px;
        font-size: 18px;
        color: black;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
}