.feed {
    position: relative;
    top: 50px;
    width: 301px;
    height: 116px;
    margin: auto;
}

.top-gap {
    top: 0;
    width: 100%;
    height: 140px;
}

.bottom-gap {

    width: 100%;
    height: 100px;
    bottom: 0;
}

.control-box1a {
    width: 167px;
    height: 81px;
    background: #F5F5FA;
    /* Shadow 3 */

    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
    border-radius: 20px 0px 0px 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 34px;

    color: #000000;
}

.control-box1b {
    margin-top: -81px;
    width: 100px;
    height: 81px;
    float: right;
    background: #619330;
    border: none;
    /* Shadow 3 */
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px hsl(0, 0%, 100%);
    border-radius: 0px 20px 0px 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
}

.off {
    background: rgb(142, 12, 12);
}

.error {
    background: rgb(192, 127, 6);
}

#control-box1c {
    margin-top: -20px;
    width: 301px;
    height: 35px;
    background: #F5F5FA;
    /* Shadow 3 */
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px hsl(0, 0%, 100%);
    border-radius: 0px 0px 20px 20px;
    font-family: 'Quicksand';
    font-style: normal;
    display: flex;
    justify-content: center;
}

.upper-menu {
    top: 0;
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: white;
}

.whiteUp-upper {
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0px;
    top: 67px;
    background: #FAFAFA;
}

.whiteDwn-upper {
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0px;
    top: 147px;
    background: #FAFAFA;
}

.BG-upper {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 77px;

    background: #F5F5FA;
    box-shadow: inset 0px -5px 10px rgba(255, 255, 255, 0.5), inset 0px 5px 10px rgba(170, 170, 204, 0.25), inset 0px 10px 20px rgba(170, 170, 204, 0.5), inset 0px -10px 20px #FFFFFF;
}

.upper-button {
    -webkit-appearance: none;
    float: left;
    position: relative;
    width: 40%;
    height: 44px;
    margin-left: 6.6%;
    top: 4.5px;
    background: #F5F5FA;
    /* Shadow 3 */
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
    border: none;
}

.upper-button a,
a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}

.upper-button:hover {
    background-color: #C4C4C4;
}

.upper-button2 {
    float: right;
    position: relative;
    width: 40%;
    height: 44px;
    margin-right: 6.6%;
    top: 4.5px;
    background: #F5F5FA;
    border: none;
    /* Shadow 3 */
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
}

.upper-button2 a,
a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}

.upper-button2:hover {
    background-color: #C4C4C4;
}

h2 {
    text-align: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    margin-top: 10px;
}

h5 {
    text-align: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    margin-top: 5px;
}

.camera {
    position: relative;
    overflow: hidden;
    transform: translate(-20%, 0);
    width: 500px;
    height: 400px;
    border-radius: 10px 10px 10px 10px;

}