.sensor-box {
  width: 130px;
  height: 130px;
  background: #F5F5FA;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -5px -10px 20px #FFFFFF;
  border-radius: 20px;
}

.sensor-box1 {
  margin-top: -25px;
  margin-left: -10px;
  width: 320px;
  height: 35px;
  background: #F5F5FA;
  /* Shadow 3 */
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
  border-radius: 20px;
  font-family: 'Quicksand';
  font-style: normal;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alert {
  animation: alert .5s;
  animation-iteration-count: infinite;
}

@keyframes alert {
  from {
    background-color: red;
  }

  to {
    background-color: #F5F5FA;
  }
}

.humidty {

  width: 50px;
  height: 50px;
  background: url(pngwing.png);
}